@page
@model RazorPage.Pages.Grid.GridCrudOperationsModel
@{
    ViewData["Title"] = "GridCrudOperations";
}

@using RazorPage.Models

@*@using Kendo.Mvc.UI*@

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<h1>GridCrudOperations</h1>

<div class="container">
    @(Html.Kendo().Menu()
        .Name("menu_1")
        .Items(its =>{
            its.Add().Text("Action 1").Items(nested =>
            {
                nested.Add().Text("bar 11");
                nested.Add().Text("bar 12");
            });
            its.Add().Text("Action 2").Items(nested =>
            {
                nested.Add().Text("bar 21");
                nested.Add().Text("bar 22");
            });
        })
	 )
    @(Html.Kendo().Grid<EmployeeVM>().Name("grid")
                .Groupable()
                .Sortable()
                .Editable()
                .Scrollable()
                .ToolBar(x => {
                    x.Create();
                    x.Excel();
                })
                .Columns(columns =>
                {
                columns.Bound(o => o.Id);
                columns.Bound(o => o.FirstName);
                columns.Bound(o => o.LastName);
                columns.Command(column =>
                {
                    column.Edit();
                    column.Destroy();
                });
                columns.Template(@"
                        <strong>blar blar blar </strong>
                    ");
                    @*columns.Template("@<text></text>")
                        .HtmlAttributes(new { @class = "templateCell" })
                        .Template(@<template
                            Html.Kendo().Menu()
                                .Name("menu_#=Id#")
                                .Items(its =>
                                {
                                    its.Add().Text("foo").Items(nested =>
                                    {
                                        nested.Add().Text("bar");
                                        nested.Add().Text("baz");
                                    });
                                }
                        )
                    ).Width(300);*@
                })
                .DataSource(ds => ds.Ajax()
                       .Read(r => r.Url("/Grid/GridCrudOperations?handler=Read").Data("forgeryToken"))
                       .Update(u => u.Url("/Grid/GridCrudOperations?handler=Update").Data("forgeryToken"))
                       .Create(c => c.Url("/Grid/GridCrudOperations?handler=Create").Data("forgeryToken"))
                       .Destroy(d => d.Url("/Grid/GridCrudOperations?handler=Destroy").Data("forgeryToken"))
                       .Model(m => m.Id(id => id.Id))
                    .PageSize(10)
                )
                .Pageable()
)
</div>
<script>
    function forgeryToken() {
        return kendo.antiForgeryTokens();
    }
</script>